.rounded-large {
  border-radius: 200px 200px 0 0 !important;
}
.profile-wrapper {
  background-color: #fbab7e;
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
  border: 0.1px solid transparent;
}
.music-container {
  color: var(--color-beige);
  background-color: var(--text-primary);
}

.gDiv {
  background-color: var(--text-primary);
  box-shadow: 0px 2px 2px var(--color-dark) !important;
  transition: scale 300ms cubic-bezier(0.16, 1, 0.3, 1);
}
.gDiv:hover {
  transform: scale(1.01);
}
.div1 {
  grid-area: 1 / 6 / 2 / 12;
}
.div2 {
  grid-area: 2 / 5 / 3 / 13;
}
.div3 {
  grid-area: 3 / 3 / 4 / 6;
}
.div4 {
  grid-area: 4 / 1 / 5 / 4;
}
.process {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: var(--color-white100);
}
.process .id {
  font-family: NavText;
  color: var(--color-green400);
}
.image-wrapper {
  position: relative;
}
.image-info {
  position: absolute;
  left: 10px;
  bottom: 10px;
  opacity: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 300ms cubic-bezier(0.16, 1, 0.3, 1);
}
.image-wrapper:hover .image-info {
  opacity: 1;
  transform: scaleX(1);
}
.image-wrapper:focus-visible .image-info {
  opacity: 1;
  transform: scaleX(1);
}

.eduName .bodyText {
  color: var(--color-beige);
}

/* media query   */
@media (max-width: 967px) {
  .parent {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .div1,
  .div2,
  .div3,
  .div4 {
    grid-area: auto;
  }
}
